
CalendarWatchFace/gen/resources/cache/i747efa48.mbc
CalendarWatchFace/bin/CalendarWatchFace.prg.debug.xml
CalendarWatchFace/bin/gen/006-B3287-00/source/Rez.mcgen
CalendarWatchFace/bin/CalendarWatchFace.prg
CalendarWatchFace/bin/gen/resources/cache/i747efa48.mbc
CalendarWatchFace/bin/internal-mir/Rez.mir
CalendarWatchFace/bin/mir/source/BackgroundService.mir
CalendarWatchFace/bin/mir/source/CalendarWatchFaceApp.mir
CalendarWatchFace/bin/mir/source/CalendarWatchFaceView.mir
CalendarWatchFace/CalendarWatchFace.prg.debug.xml
CalendarWatchFace/gen/006-B3287-00/source/Rez.mcgen
CalendarWatchFace/internal-mir/Rez.mir
CalendarWatchFace/mir/source/CalendarWatchFaceApp.mir
CalendarWatchFace/mir/source/CalendarWatchFaceView.mir
CalendarWatchFace/resources/drawables/drawables.xml
CalendarWatchFace/resources/drawables/launcher_icon.png
CalendarWatchFace/resources/layouts/layout.xml
CalendarWatchFace/resources/strings/strings.xml
developer_key
CalendarWatchFace/CalendarWatchFace.prg
